<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-info">
                    <img src="assets/img/apple-touch-icon.png" alt="TheEvenet">

                    <h1><a href="#main" i18n>Alq<span>a</span>qaa</a></h1>
                    <img src="assets/img/apple-touch-icon.png" alt="TheEvenet">

                    <p i18n>In alias aperiam. Placeat tempore facere. Officiis voluptate ipsam vel eveniet est dolor et totam porro. Perspiciatis ad omnis fugit molestiae recusandae possimus. Aut consectetur id quis. In inventore consequatur ad voluptate cupiditate
                        debitis accusamus repellat cumque.</p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 i18n>Follow me</h4>
                    <div id="fb-root"></div>
                    <iframe class="iframe_fac" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FProfessional-104290707815470%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        width="250" height="200" style="border:none;overflow:hidden" scrolling="yes" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 i18n>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a routerLink="/home" i18n>Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a routerLink="/about-us" i18n>Contact us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a routerLink="/our-services" i18n>Services</a></li>
                        <li><i class="fa fa-angle-right"></i> <a routerLink="/business" i18n>business</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h4 i18n>Contact Us</h4>
                    <p i18n>
                        A108 Adam Street <br> New York, NY 535022 <br> United States <br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong><a href=""> Alqaqaa </a><br>
                    </p>

                    <div class="social-links">
                        <a href="https://www.facebook.com/profile.php?id=100043039500284" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/alqaqaacompany/" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="alqaqaacompany@gmail.com" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=%20201029272715" class="linkedin"><i class="fa fa-whatsapp"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container" i18n>
        <div class="copyright">
            &copy; Copyright <strong>Company Alqaqaa</strong>. All Rights Reserved
        </div>
        <div class="credits">

            Made by <a href="https://www.upwork.com/freelancers/~01b2abd8af2cf9d968">AbdoKhalaf</a>
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>