<!--==========================
      Contact Section
    ============================-->
<section id="intro">
    <div class="intro-container wow fadeIn">
        <h1 class="mb-4 pb-0" i18n><span>Resgter </span> </h1>
        <p class="mb-4 pb-0" i18n>Welocme you to resgter with us </p>
    </div>
</section>
<main id="main">
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2 i18n>Welcome to Register</h2>
                <p i18n>We are happy to existence you with us.</p>
            </div>
            <div class="form">
                <p *ngIf="errorMessage" class=" alert-danger alert">{{errorMessage}}</p>
                <p *ngIf="errorMessagePad" class=" alert-danger alert">{{errorMessagePad}}</p>
                <p *ngIf="message" class=" alert-success alert">{{message}}</p>

                <form role="form" class="contactForm" [formGroup]="postUser" (ngSubmit)="PostUser()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="label1" i18n>Your Name</label>
                            <input type="text" name="name" class="form-control" id="name" formControlName="name" />
                            <div *ngIf="(name.touched||errorMessagePad!='')  && name.invalid" class="error">
                                <span *ngIf="name.errors.required" i18n>Please
                                    enter Name.</span>
                                <span *ngIf="name.errors.minlength" i18n>Name
                                    must be at least 8 characters.</span>
                                <span *ngIf="name.errors.maxlength" i18n>Maxlength is 30.</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="label1" i18n>Your Phone</label>
                            <input type="text" name="phone" class="form-control" id="phone" formControlName="phone" />
                            <span class="validation" *ngIf="(phone.touched || errorMessagePad!='')  && phone.invalid" class="error">
                                <span *ngIf="phone.errors.required" i18n>Please
                                    enter Modile.</span>
                            <span *ngIf="phone.errors.minlength" i18n>Modile
                                    must be at least 11 characters.</span>
                            <span *ngIf="phone.errors.maxlength" i18n>Maxlength is 315.</span>
                            </span>

                        </div>
                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-12">
                            <label class="label1" i18n>Your Email</label>
                            <input type="email" class="form-control" name="email" id="email" formControlName="email" />
                            <span *ngIf="(email.touched || errorMessagePad!='') && email.invalid" class="error">
                                <span *ngIf="email.errors.required" i18n>Please
                                    enter Email.</span>
                            <span *ngIf="email.errors.minlength" i18n>Email
                                    must be at least 8 characters.</span>
                            <span *ngIf="email.errors.maxlength" i18n>Maxlength is 315.</span>
                            <span *ngIf=" email.errors.email" i18n>Please enter a valid Email</span>
                            </span>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="label1" i18n>Your password</label>
                            <input type="password" class="form-control" name="password" id="password" formControlName="password" />
                            <span class="validation" *ngIf="(password.touched || errorMessagePad!='')  && password.invalid" class="error ">
                                <span *ngIf="password.errors.required" i18n>Please
                                    enter Password.</span>
                            <span *ngIf="password.errors.minlength" i18n>Password must be at least 8
                                    characters.</span>
                            <span *ngIf="password.errors.maxlength" i18n>Maxlength is 315.</span>
                            </span>
                        </div>

                        <div class="form-group col-md-6">
                            <label class="label1" i18n>Your Address</label>
                            <input type="text" class="form-control" id="address" name="address" formControlName="address" />
                            <span class="validation" *ngIf="(address.touched || errorMessagePad!='')  && address.invalid" class="error">
                                <span *ngIf="address.errors.required" i18n>Please enter address.</span>
                            <span *ngIf="address.errors.minlength" i18n>address
                                    must be at least 11 characters.</span>
                            <span *ngIf="address.errors.maxlength" i18n>Maxlength is 30.</span>
                            </span>
                        </div>

                    </div>


                    <div class="text-center"><button type="submit" i18n>Register Now </button></div>
                    <div class="text-center txt2 p-t-115" i18n>
                        Do you have an account?
                        <a routerLink="/login">
                            Login
                        </a>
                    </div>
                </form>
            </div>
        </div>

    </section>
</main>
<!-- #contact -->