<!--==========================
      Contact Section
    ============================-->
    <section id="intro">
        <div class="intro-container wow fadeIn">
            <h1 class="mb-4 pb-0">  Update <span> Social </span></h1>
            <p class="mb-4 pb-0">Welocme you to Alqaqaa </p>
        </div>
    </section>
<main id="main">
    <section id="contact" class="section-bg wow fadeInUp">
        <div class="container">
            <div class="section-header">
                <h2>Welcome to Update Social</h2>
                <p>We are happy to existence you with us.</p>
            </div>
            <div class="form">
                <!-- <p *ngIf="errorMessage" class=" alert-danger alert">{{errorMessage}}</p> -->
                <form role="form" class="contactForm" [formGroup]="updateSocial" (ngSubmit)="saveUpdateSocial()" *ngIf="social">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <title>Facbooke</title>
                            <input type="url" name="facebook" class="form-control" id="facebook" placeholder="Your email url on Facebook" [ngModel]="social.facebook"
                                formControlName="facebook" data-rule="minlen:8"
                                data-msg="Please enter at least 8 chars" />
                            <div class="validation" *ngIf="facebook.touched  && facebook.invalid" class="error">
                                <small *ngIf="facebook.errors.required">Please
                                    enter your email url on Facebook.</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <title>twitter</title>
                            <input type="url" name="twitter" class="form-control" id="twitter" placeholder="Your email url on Twitter" [ngModel]="social.twitter"
                                formControlName="twitter" data-rule="minlen:8"
                                data-msg="Please enter at least 8 chars" />
                            <div class="validation" *ngIf="twitter.touched  && twitter.invalid" class="error">
                                <small *ngIf="twitter.errors.required">Please
                                    enteryour email url on Twitter.</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <title>instagram</title>
                            <input type="url" name="instagram" class="form-control" id="instagram" placeholder="Your email url on Instagram" [ngModel]="social.instagram"
                                formControlName="instagram" data-rule="minlen:8"
                                data-msg="Please enter at least 8 chars" />
                            <div class="validation" *ngIf="instagram.touched  && instagram.invalid" class="error">
                                <small *ngIf="instagram.errors.required">Please
                                    enter your email url on Instagram.</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <title>google</title>
                            <input type="url" name="google" class="form-control" id="google" placeholder="Your email url on Google++" [ngModel]="social.google"
                                formControlName="google" data-rule="minlen:8"
                                data-msg="Please enter at least 8 chars" />
                            <div class="validation" *ngIf="google.touched  && google.invalid" class="error">
                                <small *ngIf="google.errors.required">Please
                                    enter your email url on Google++.</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <title>linkedin</title>
                            <input type="url" name="linkedin" class="form-control" id="linkedin" placeholder="Your email url on Linkedin" [ngModel]="social.linkedin"
                                formControlName="linkedin" data-rule="minlen:8"
                                data-msg="Please enter at least 8 chars" />
                            <div class="validation" *ngIf="linkedin.touched  && linkedin.invalid" class="error">
                                <small *ngIf="linkedin.errors.required">Please
                                    enter your email url on Linkedin.</small>
                            </div>
                        </div>
                    </div>
                    <div class="text-center"><button type="submit">Update Social</button></div>
                </form>
            </div>
        </div>

    </section>
</main>
<!-- #contact -->